<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slider</title>
    <link rel="stylesheet" href="public/acceuil.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- calender -->
<meta
      name="description"
      content="Stay organized with our user-friendly Calendar featuring events, reminders, and a customizable interface. Built with HTML, CSS, and JavaScript. Start scheduling today!"
    />
    <meta
      name="keywords"
      content="calendar, events, reminders, javascript, html, css, open source coding"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

</head>
<body>

    <header>
        <nav>
            <a href="#" class="active">Acceuil</a>
            <!-- <a href="#">About</a> -->
            <a href="#plantation">Plantation</a>
            <a href="#footer">Suivez-nous</a>
            <a href="#footer">Soutien</a>
            <a href="#footer">contactez-nous</a>
            <a href="/index">Déconnecter</a>
        </nav>
    </header>


    
    <div class="slider">


        <div class="list">
            <div class="item">
                <img src="public/images/1-enhanced.png" alt="">

                <div class="content">
                    <div class="titlee">Bienvenue</div>
                    <div class="type">Stades phénologiques de l'olivier</div>
                    <div class="description">
                      Ce site présente les différents stades phénologiques de l'olivier, de la formation des boutons floraux à la maturation des fruits. 
                      Découvrez chaque étape grâce à des images illustratives et des vidéos explicatives.
                    </div>
                    <div class="button">
                        <button><a href="/test" style="text-decoration: none;color: black;">voir plus</a></button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="public/images/zi1-enhanced.png" alt="">

                <div class="content">
                    <div class="titlee">Stade 1</div>
                    <div class="type">Réveil végétatif</div>
                    <div class="description">
                      Le réveil végétatif marque le début de la croissance active de l'olivier après la dormance hivernale.
                    </div>
                    <div class="button">
                        <button><a href="/test#s1" style="text-decoration: none;color: black;">voir plus</a></button>
                    </div>
                </div>
            </div>
            
            <div class="item">
                <img src="public/images/zi2-enhanced.png" alt="">

                <div class="content">
                    <div class="titlee">Stade 2</div>
                    <div class="type">Formulation des grappes florales</div>
                    <div class="description">
                      La formulation des grappes florales est une étape cruciale dans le cycle de vie de l'olivier, suivant le réveil végétatif et précédant la floraison.
                    </div>
                    <div class="button">
                        <button><a href="/test#s2" style="text-decoration: none;color: black;">voir plus</a></button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="public/images/zi3-enhanced.png" alt="">

                <div class="content">
                    <div class="titlee">Stade 3</div>
                    <div class="type">Gonflement des boutons floraux</div>
                    <div class="description">
                      Le gonflement des boutons floraux est une étape cruciale dans le cycle de vie de l'olivier, suivant la formulation des grappes florales et précédant la floraison.
                    </div>
                    <div class="button">
                        <button><a href="/test#s3" style="text-decoration: none;color: black;">voir plus</a></button>
                    </div>
                </div>
            </div>

            <!-- <div class="item">
                <img src="public/images/zi4-enhanced.png" alt="">

                <div class="content">
                    <div class="title">Stade 4</div>
                    <div class="type">Différenciation des corolles</div>
                    <div class="button">
                        <button>voir plus</button>
                    </div>
                </div>
            </div> -->

           <!-- <div class="item">
               <img src="public/images/zi5-enhanced.png" alt="">

               <div class="content">
                   <div class="title">Stade 5</div>
                   <div class="type">Début floraison</div>
                   <div class="button">
                       <button>voir plus</button>
                   </div>
               </div>
           </div>

          <div class="item">
              <img src="public/images/zi6-enhanced.png" alt="">

              <div class="content">
                  <div class="title">Stade 6</div>
                  <div class="type">Pleine floraison</div>
                  <div class="button">
                      <button>voir plus</button>
                  </div>
              </div>
          </div> -->

          <div class="item">
            <img src="public/images/zi5-enhanced.png" alt="">

            <div class="content">
                <div class="titlee">Stade 4</div>
                <div class="type">Floraison</div>
                <div class="description">
                  la floraison est une étape importance dans le cycle de vie de l'olivier, marquant le moment où les boutons floraux commencent à s'ouvrir et où les fleurs deviennent visibles.
                </div>
                <div class="button">
                    <button><a href="/test#s4" style="text-decoration: none;color: black;">voir plus</a></button>
                </div>
            </div>
        </div>

          <div class="item">
              <img src="public/images/zi7-enhanced.png" alt="">

              <div class="content">
                  <div class="titlee">Stade 5</div>
                  <div class="type">Nouaison</div>
                  <div class="description">
                    La nouaison est une étape importance dans le cycle de vie de l'olivier, marquant le processus par lequel les fleurs pollinisées se transforment en fruits.
                  </div>
                  <div class="button">
                      <button><a href="/test#s5" style="text-decoration: none;color: black;">voir plus</a></button>
                  </div>
              </div>
          </div>

          <div class="item">
              <img src="public/images/zi8-enhanced.png" alt="">

              <div class="content">
                  <div class="titlee">Stade 6</div>
                  <div class="type">Grossissement</div>
                  <div class="description">
                    Le grossissement est une étape importance dans le développement des olives, où les fruits en formation augmentent en taille et en volume.
                  </div>
                  <div class="button">
                      <button><a href="/test#s6" style="text-decoration: none;color: black;">voir plus</a></button>
                  </div>
              </div>
          </div>

          <!-- <div class="item">
              <img src="public/images/zi9-enhanced.png" alt="">

              <div class="content">
                  <div class="title">Stade 9</div>
                  <div class="type">Début maturité</div>
                  <div class="button">
                      <button>voir plus</button>
                  </div>
              </div>
          </div>

          <div class="item">
              <img src="public/images/zi10-enhanced.png" alt="">

              <div class="content">
                  <div class="title">Stade 10</div>
                  <div class="type">Maturité 1</div>
                  <div class="button">
                      <button>voir plus</button>
                  </div>
              </div>
          </div>

          <div class="item">
              <img src="public/images/zi11a-enhanced.png" alt="">

              <div class="content">
                  <div class="title">Stade 11</div>
                  <div class="type">Maturité 2</div>
                  <div class="button">
                      <button>voir plus</button>
                  </div>
            </div>
          </div>

          <div class="item">
              <img src="public/images/zi11b-enhanced.png" alt="">

              <div class="content">
                  <div class="title">Stade 11</div>
                  <div class="type">Maturité 3</div>
                  <div class="button">
                      <button>voir plus</button>
                  </div>
              </div>
          </div> -->

          <div class="item">
            <img src="public/images/zi11b-enhanced.png" alt="">

            <div class="content">
                <div class="titlee">Stade 7</div>
                <div class="type">Maturité</div>
                <div class="description">
                  La Maturité est le stade final de maturation des olives, marquant le moment optimal pour la récolte.
                </div>
                <div class="button">
                    <button><a href="/test#s7 " style="text-decoration: none;color: black;">voir plus</a></button>
                </div>
            </div>
        </div>

        </div>


        <div class="thumbnail">

            <div class="item">
                <img src="public/images/1-enhanced.png" alt="">
            </div>
            <div class="item">
                <img src="public/images/zi1-enhanced.png" alt="">
            </div>
            <div class="item">
                <img src="public/images/zi2-enhanced.png" alt="">
            </div>
            <div class="item">
                <img src="public/images/zi3-enhanced.png" alt="">
            </div>
            <!-- <div class="item">
              <img src="public/images/zi4-enhanced.png" alt="">
            </div> -->
            <div class="item">
                <img src="public/images/zi5-enhanced.png" alt="">
            </div>
            <!-- <div class="item">
                <img src="public/images/zi6-enhanced.png" alt="">
            </div> -->
            <div class="item">
                <img src="public/images/zi7-enhanced.png" alt="">
            </div>
            <div class="item">
                <img src="public/images/zi8-enhanced.png" alt="">
            </div>
            <!-- <div class="item">
                <img src="public/images/zi9-enhanced.png" alt="">
            </div>
            <div class="item">
                <img src="public/images/zi10-enhanced.png" alt="">
            </div>
            <div class="item">
                <img src="public/images/zi11a-enhanced.png" alt="">
            </div> -->
            <div class="item">
                <img src="public/images/zi11b-enhanced.png" alt="">
            </div>
        </div>


        <div class="nextPrevArrows">
            <button class="prev"> < </button>
            <button class="next"> > </button>
        </div>


    </div> 

    <div class="Plantation" id="plantation">
    <div class="title">
      <!-- <h1><span style="color: #ff9f43">Tou</span><span style="color: #0abde3">rist</span> <span style="color: #ee5253">Attr</span><span style="color: #00d2d3">acti<span><span style="color: #5f27cd">ons<span></h1> -->
        <h1>La Plantation de l'Olivier</h1>
    </div>
    <div class="card1">
      <img src="public/images/_269dcbae-6682-4fa0-ba32-ba98513eb9a9.jpeg" alt="">
      <h3 class="hh">Climat et Sol</h3>
      <p class="pp">Les oliviers préfèrent un climat méditerranéen et un sol bien drainé.</p>
    </div>
    
    <div class="card2">
      <img src="public/images/_d7251fd9-00aa-4b37-ac3c-6abfed753928.jpeg" alt="Eiffel Tower">
      <h3 class="hh">Préparation du Sol</h3>
      <p class="pp">Préparez le sol en le labourant et en ajoutant des amendements organiques.</p>
    </div>
    
    <div class="card3">
      <img src="public/images/_726020ed-0a39-4b2d-b48f-20f752bf0708.jpeg" alt="">
      <h3 class="hh">Techniques de Plantation</h3>
      <p class="pp">Plantez les jeunes oliviers à une profondeur suffisante et arrosez-les bien.</p>
    </div>
  </div>


  
  <footer>    
    <div class="footer-container">
      <div class="footer-column" id="footer">
          <!-- <h3>MRstudio</h3> -->
          <!-- <img src="./image/2-removebg-preview.png" alt="Logo" class="logo"> -->
          <!-- <img src="public/images/log.png" alt="Logo" class="logo"> -->
          <img src="public/images/zz-removebg-preview.png" alt="Logo" class="logo">
          <p>Les stades phénologiques de l'olivier sont des étapes clés de son développement, 
            allant de la floraison à la maturation des fruits. Comprendre ces stades est essentiel
             pour une gestion efficace et durable des vergers d'oliviers.</p>
          <div class="social-media">
              <!-- <a href="#"><img src="./image/facebook-removebg-preview.png" alt="Facebook"></a>
              <a href="#"><img src="./image/twitter-removebg-preview.png" alt="Twitter"></a>
              <a href="#"><img src="./image/instagram-removebg-preview.png" alt="Instagram"></a>
              <a href="#"><img src="./image/linkdin-removebg-preview.png" alt="linkdin"></a> -->
          </div>
      </div>
      <div class="footer-column">
          <h3>Suivez-nous</h3>
          <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">linkdin</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <h3>Soutien</h3>
          <ul>
              <li><a href="#">YouCode</a></li>
              <li><a href="#">OCP</a></li>
              <li><a href="#">Moutmer</a></li>
          </ul>
      </div>
      <div class="footer-column">
          <h3>contactez-nous</h3>
          <p>Address: YouCode, Safi</p>
          <p>Phone: +8801323455677</p>
          <p>Email: info@agro.com</p>
      </div>
  </div>
  </footer>  

  <script src="public/js/acceuil.js"></script>
</body>
</html>