<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="public/stades.css">
</head>
<body>

  <main>
    <nav>
        <a href="#" class="active">Acceuil</a>
        <a href="#footer">Suivez-nous</a>
        <a href="#footer">Soutien</a>
        <a href="#footer">Contactez-nous</a>
        <a href="/index">Déconnecter</a>
    </nav>
</main>
<header>
  <div class="splitview skewed">
    <div class="panel bottom">
      
        <div class="content">
          
            <div class="description">
                <!-- <h1>les différentes phases de croissance et de développement de l'olivier tout au long de l'année. Ils incluent le débourrement, la floraison, la nouaison, et la maturation des olives avant la récolte.</h1> -->
                <p>les différentes phases de croissance et de développement de l'olivier tout au long de l'année. Ils incluent le débourrement, la floraison, la nouaison, et la maturation des olives avant la récolte.</p>
            </div>

            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/original-image.jpg" alt="Original"> -->
            <img src="public/images/el-origen-olivo.png" alt="">
            <!-- <img src="ch1.png" alt=""> -->
            <!-- <video src="istockphoto-1092287938-640_adpp_is.mp4" controls></video> -->
        </div>
    </div>

    <div class="panel top">
        <div class="content">
            <div class="description">
                <h1>Stades phénologiques de l'olivier</h1>
                <!-- <p>This is how the image looks like after applying a duotone effect.</p> -->
            </div>

            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/duotone-image.jpg" alt="Duotone"> -->
            <img src="public/images/el-origen-olivo.png" alt="">
            <!-- <img src="ch1.png" alt=""> -->
            <!-- <video src="istockphoto-1092287938-640_adpp_is.mp4" controls></video> -->
        </div>
    </div>

    <div class="handle"></div>
</div>

<section class="light">
  <div class="container py-2">
    <div class="h1 text-center text-dark" id="pageHeaderTitle">Stades phénologiques</div>

    <article class="postcard light blue" id="s1">
      <a class="postcard__img_link" href="#">
        <!-- <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" /> -->
        <img class="postcard__img" src="public/images/zi1-enhanced.png" alt="" />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue"><a href="#">Réveil végétatif</a></h1>
        <!-- <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div> -->
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Le réveil végétatif de l'olivier est caractérisé par l'apparition de nouvelles pousses et feuilles, marquant la fin de la dormance hivernale. Au début du printemps, les bourgeons gonflent et s'ouvrent, initiant la croissance active de l'arbre. Cette phase est déclenchée par l'augmentation des températures et la disponibilité en eau, favorisant le développement des jeunes pousses. Cette étape est cruciale pour préparer l'olivier aux phases suivantes de son cycle phénologique et assure une base solide pour la production future de fruits.</div>
        <!-- <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play blue">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul> -->
        <div class="cont">
        <div class="card">
          <img src="public/images/_bcfbc86a-7db1-4399-b8cb-12fcd469fc40.jpeg" alt=""/>
          <div class="intro">
            <h1>Bourgeonnement de l'olivier</h1>
          </div>
        </div>

        <div class="card">
          <img src="public/images/_570ead9a-0a55-46ad-a5b6-425007acdd62.jpeg" alt=""/>
          <div class="intro">
            <h1>Nouvelles feuilles d'olivier</h1>
          </div>
        </div>

        <div class="card">
          <img src="public/images/_116ac69b-82e7-4aaa-9304-540202e7f754.jpeg" alt=""/>
          <div class="intro">
            <h1>Croissance des rameaux</h1>
          </div>
        </div>
      </div>
    </article>
    <article class="postcard light red" id="s2">
      <a class="postcard__img_link" href="#">
        <!-- <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	 -->
        <img class="postcard__img" src="public/images/zi2-enhanced.png" alt="" />	
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title red"><a href="#">Formulation des grappes florales</a></h1>
        <!-- <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div> -->
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">La formulation des grappes florales est le processus par lequel l'olivier développe des inflorescences qui porteront les futures fleurs. Au cours de cette étape, les bourgeons floraux se forment à l'extrémité des branches, regroupant plusieurs fleurs en grappes compactes. Ces inflorescences apparaissent généralement au printemps, après le réveil végétatif. La formation des grappes florales est un indicateur clé du potentiel de production de l'olivier, car chaque grappe peut contenir de nombreuses fleurs, dont la plupart se transformeront en fruits après la pollinisation. Une bonne formulation des grappes est essentielle pour une récolte abondante et de qualité.</div>
        <!-- <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play red">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul> -->
        <div class="cont">
          <div class="card">
            <img src="public/images/_6fb18d0d-0fb3-4862-9f2a-6aad01ddc796.jpeg" alt=""/>
            <div class="intro">
              <h1>Développement des bourgeons floraux</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/_488a3e4f-3aa6-4edf-ab90-454c77134d68.jpeg" alt=""/>
            <div class="intro">
              <h1>Croissance des pédoncules</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/_36bbee8c-4113-4509-891f-4658d47b3258.jpeg" alt=""/>
            <div class="intro">
              <h1>Apparition des boutons floraux</h1>
            </div>
          </div>
        </div>
    </article>
    <article class="postcard light green" id="s3">
      <a class="postcard__img_link" href="#">
        <!-- <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" /> -->
        <img class="postcard__img" src="public/images/zi3-enhanced.png" alt="" />	
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title green"><a href="#">Gonflement des boutons floraux</a></h1>
        <!-- <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div> -->
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Le gonflement des boutons floraux est le processus par lequel les boutons floraux, qui sont les précurseurs des fleurs, augmentent en taille et se préparent à éclore. Pendant cette phase, les boutons floraux, initialement petits et fermés, commencent à se dilater sous l'influence de températures croissantes et d'une augmentation des ressources nutritives disponibles. Ce gonflement indique que les fleurs se développent à l'intérieur des boutons et qu'elles sont prêtes pour la prochaine étape de leur maturation. Une fois que les boutons ont suffisamment gonflé, ils s'ouvrent pour libérer les fleurs, permettant ainsi la pollinisation et la formation des fruits.

        </div>
        <!-- <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play green">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul> -->
        <div class="cont">
          <div class="card">
            <img src="public/images/_4c9f4995-dcba-43b3-9118-cf2e2d63f2c7.jpeg" alt=""/>
            <div class="intro">
              <h1>Gonflement des boutons floraux</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/_a1cf982c-ed2d-4931-a535-a09ea0e0c8dc.jpeg" alt=""/>
            <div class="intro">
              <h1>Développement des boutons</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/_2e0967bf-0f9b-4e84-8f57-552a2d54f6f8.jpeg" alt=""/>
            <div class="intro">
              <h1>Boutons floraux prêts à éclore</h1>
            </div>
          </div>
        </div>
    </article>
    <article class="postcard light yellow" id="s4">
      <a class="postcard__img_link" href="#">
        <!-- <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" /> -->
        <img class="postcard__img" src="public/images/zi6-enhanced.png" alt="" />	
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title yellow"><a href="#">Floraison</a></h1>
        <!-- <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div> -->
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">La floraison est le stade où les fleurs passent de l'état de boutons floraux à celui de fleurs ouvertes, permettant l'initiation de la pollinisation. Au cours de cette phase, les boutons floraux se déploient et révèlent leurs pétales, exposant ainsi les organes reproducteurs aux pollinisateurs. La floraison marque le moment où les fleurs sont pleinement fonctionnelles et prêtes pour la fertilisation. C'est une étape cruciale dans le cycle de vie de l'olivier, car la réussite de la pollinisation déterminera la qualité et la quantité des fruits produits.</div>
        <!-- <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play yellow">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul> -->
        <div class="cont">
          <div class="card">
            <img src="public/images/_59fd1249-68fe-4226-959a-2480db067c99.jpeg" alt=""/>
            <div class="intro">
              <h1>Fleurs ouvertes</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/_a9c77ebf-8d3e-49f4-ad67-550f22f396da.jpeg" alt=""/>
            <div class="intro">
              <h1>Développement des pétales</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="" alt=""/>
            <div class="intro">
              <h1>Organes reproducteurs visibles</h1>
            </div>
          </div>
        </div>
    </article>

    <article class="postcard light blue" id="s5">
      <a class="public/images/postcard__img_link" href="#">
        <!-- <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" /> -->
        <img class="postcard__img" src="public/images/zi7-enhanced.png" alt="" />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue"><a href="#">Nouaison</a></h1>
        <!-- <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div> -->
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">La nouaison est le processus où les ovules fertilisés se développent en jeunes olives, et les structures florales commencent à se transformer pour former des fruits. Après la pollinisation, les ovules fertilisés se développent au sein des fleurs, et les parties florales, telles que les sépales et les pétales, se modifient pour soutenir la formation des jeunes olives. Cette phase est essentielle pour la formation des fruits, car elle marque le début de la maturation des olives qui, une fois complètement développées, seront prêtes pour la récolte.</div>
        <!-- <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play blue">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul> -->
        <div class="cont">
          <div class="card">
            <img src="public/images/_fc762090-46ec-4cde-b9de-44221b047057.jpeg" alt=""/>
            <div class="intro">
              <h1>Jeunes olives en formation</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/_5fc6967a-8bea-4dc1-b976-cd38765fb51e.jpeg" alt=""/>
            <div class="intro">
              <h1>Élargissement des ovaires</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/_5a78e666-b590-4799-b2e1-42dec8a007d6.jpeg" alt=""/>
            <div class="intro">
              <h1>Changement de couleur des olives</h1>
            </div>
          </div>
        </div>
    </article>
    <article class="postcard light red" id="s6">
      <a class="postcard__img_link" href="#">
        <!-- <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	 -->
        <img class="postcard__img" src="public/images/zi8-enhanced.png" alt="" />	
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title red"><a href="#">Grossissement</a></h1>
        <!-- <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div> -->
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Le grossissement est le processus par lequel les olives passent de petits fruits jeunes à des olives matures et de taille finale. Pendant cette phase, les olives augmentent progressivement en taille et évoluent en texture, passant d'une consistance ferme à une texture plus douce et plus développée. Cette croissance est alimentée par l'absorption continue de nutriments et d'eau, et est essentielle pour atteindre la qualité et le rendement souhaités avant la récolte. Le grossissement des olives est une étape clé dans le cycle de maturation, influençant directement la qualité de l'huile d'olive produite.</div>
        <!-- <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play red">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul> -->
        <div class="cont">
          <div class="card">
            <img src="public/images/_082f525f-4e6f-4ff0-a621-cd078034b6d7.jpeg" alt=""/>
            <div class="intro">
              <h1>Olives en croissance</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/_6c4db70a-745a-43fe-b6f3-16a1d95dcfb1.jpeg" alt=""/>
            <div class="intro">
              <h1>Augmentation de la taille des fruits</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/_d10e6b91-ed77-4772-89eb-58f25005784c.jpeg" alt=""/>
            <div class="intro">
              <h1>Changement de couleur des olives</h1>
            </div>
          </div>
        </div>
    </article>
    <article class="postcard light green" id="s7">
      <a class="postcard__img_link" href="#">
        <!-- <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" /> -->
        <img class="postcard__img" src="public/images/zi11b-enhanced.png" alt="" />	
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title green"><a href="#">Maturité</a></h1>
        <!-- <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div> -->
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">La maturité est la phase finale de maturation, où les olives ont atteint leur taille et leur couleur définitives. Les fruits sont entièrement mûrs, souvent d'un noir profond ou d'une couleur sombre, et ont une texture bien développée. À ce stade, les olives ont une teneur maximale en huile et sont prêtes pour la récolte finale. La qualité de l'huile d'olive obtenue à partir d'olives à ce stade est généralement optimale, avec des saveurs riches et complexes.</div>
        <!-- <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play green">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul> -->
        <div class="cont">
          <div class="card">
            <img src="public/images/zi9-enhanced.png" alt=""/>
            <div class="intro">
              <h1>Début maturité</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/zi10-enhanced.png" alt=""/>
            <div class="intro">
              <h1>Maturité 1</h1>
            </div>
          </div>
  
          <div class="card">
            <img src="public/images/zi11a-enhanced.png" alt=""/>
            <div class="intro">
              <h1>Maturité 2</h1>
            </div>
          </div>
        </div>
    </article>
  </div>
</section>

<footer>    
  <div class="footer-container">
    <div class="footer-column" id="footer">
        <!-- <h3>MRstudio</h3> -->
        <!-- <img src="./image/2-removebg-preview.png" alt="Logo" class="logo"> -->
        <!-- <img src="public/images/log.png" alt="Logo" class="logo"> -->
        <img src="public/images/zz-removebg-preview.png" alt="Logo" class="logo">
        <p>Les stades phénologiques de l'olivier sont des étapes clés de son développement, 
          allant de la floraison à la maturation des fruits. Comprendre ces stades est essentiel
           pour une gestion efficace et durable des vergers d'oliviers.</p>
        <div class="social-media">
            <!-- <a href="#"><img src="./image/facebook-removebg-preview.png" alt="Facebook"></a>
            <a href="#"><img src="./image/twitter-removebg-preview.png" alt="Twitter"></a>
            <a href="#"><img src="./image/instagram-removebg-preview.png" alt="Instagram"></a>
            <a href="#"><img src="./image/linkdin-removebg-preview.png" alt="linkdin"></a> -->
        </div>
    </div>
    <div class="footer-column">
        <h3>Suivez-nous</h3>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">linkdin</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Soutien</h3>
        <ul>
            <li><a href="#">YouCode</a></li>
            <li><a href="#">OCP</a></li>
            <li><a href="#">Moutmer</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>contactez-nous</h3>
        <p>Address: YouCode, Safi</p>
        <p>Phone: +8801323455677</p>
        <p>Email: info@agro.com</p>
    </div>
</div>
</footer>  

<!-- <script src="stades.js"></script> -->
</body>
</html>