@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
/* Reset. */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

nav a{
  text-decoration: none;
}

main{
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

main a{
  /* color: #eee; */
  color: black;
  margin-right: 5px;
  padding: 5px 10px;
  transition: 0.2s;
}

a.active{
  /* background: #14ff72cb; */
  background-color: #29893a;
  border-radius: 2px;
}

main a:hover{
  /* background: #14ff72cb; */
  background: #29893a;
  border-radius: 2px;
}
header{
  height: 500px;
}

/* Agrandir la taille des paragraphes */
p {
  font-size: 1.2rem; /* Vous pouvez ajuster la valeur selon vos besoins */
  line-height: 1.6; /* Pour améliorer la lisibilité */
}

/* Panels. */
.splitview {
  position: relative;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;
}

/* .splitview {
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
} */

.panel {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  overflow: hidden;
}

  .panel .content {
      position: absolute;
      width: 100vw;
      min-height: 45vw;
      color: #FFF;
  }

  .panel .description {
      width: 25%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
  }

  .panel img {
      box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
      width: 35%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .panel video {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  

.bottom {
  background-color: rgb(44, 44, 44);
  z-index: 1;
}

  .bottom .description {
      right: 5%;
  }

.top {
  /* background-color: rgb(77, 69, 173); */
  background-color: #29893a;
  /* background-color: #08230d; */
  z-index: 2;
  width: 50vw;

  /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

  .top .description {
      left: 5%;
  }

/* Handle. */
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(253, 171, 0);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

/* Skewed. */
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
  body {
      font-size: 75%;
  }
}

/* Styles pour les cartes */
.light {
  background: #f3f5f7;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.postcard {
  /* display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-bottom: 20px; */

  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard.light {
  background-color: #e1e5ea;
}

/* .postcard__img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.postcard__text {
  padding: 20px;
}

.postcard__title {
  font-size: 1.5rem;
  margin: 0;
}

.postcard__subtitle {
  font-size: 0.875rem;
  color: #777;
}

.postcard__bar {
  width: 50px;
  height: 5px;
  background: #29893a;
  margin: 15px 0;
}

.postcard__preview-txt {
  font-size: 1rem;
  line-height: 1.5;
}

.postcard__tagbox {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0 0;
}

.postcard__tagbox li {
  margin-right: 10px;
  font-size: 0.875rem;
  color: #777;
}

.postcard__tagbox .tag__item {
  display: flex;
  align-items: center;
}

.postcard__tagbox .tag__item i {
  margin-right: 5px;
}

.postcard__tagbox .play a {
  text-decoration: none;
  color: #29893a;
}

.postcard__tagbox .play a:hover {
  color: #000;
} */

.t-dark {
  color: #18151f;
}

.postcard a {
  color: inherit;
}

.postcard h1, .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }

  .postcard .postcard__title {
    font-size: 2rem;
  }

  .postcard .postcard__tagbox {
    justify-content: start;
  }

  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }

  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }

  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }

  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }

  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }

  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }

  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .postcard .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}

.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}

.cont{
  display: flex;
  
}

.card{
  height: 100px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

.card img{
  height: 100px;
  width: 200px;
  border-radius: 3px;
}

.intro{
  height: 70px;
  width: 200px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  background: rgb(27, 27, 27, .5);
  color: white;
  transform: .5s;
}

.card h1{
  margin: 10px;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
}

.card:hover{
  cursor: pointer;
}

.card:hover .intro{
  height: 70px;
  bottom: 45px;
  background: black;
}

.card:hover h1{
  opacity: 1;
  visibility: visible;
}

.card:hover img{
  transform: scale(1.1) rotate(-3deg);
}

footer {
  background-color: #08230d;
  color: #fff;
  padding: 2rem 0;
}

.footer-container {
  display: inline-flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem; 
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 1rem 0;
  padding-left: 10%;
}

.footer-column h3 {
  margin-bottom: 1rem;
}

.footer-column p {
  /*margin: 0.5rem 0;*/
  padding-right: 5%;
  /* text-align: center; */
  line-height: 1.6;
} 

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
  /*display: inline-block;*/
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.logo {
  /* width: 98px;
  height: 97px; */
  width: 50%;
  height: 50px;
  /* position: absolute; */
  margin-bottom: 10px;
  padding-left: 15%;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-column {
      text-align: center;
  }
}